body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.mobile-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    color: #fff;
    padding: 0px 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ebe5e5;
    z-index: 1000;
}

.mobile-nav nav {
    width: 100%;
}

ul[role="menubar"] {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 0;
    list-style: none;
    padding: 0;
    margin: auto;
    position: relative;
    padding: 8px 0

}

ul[role="menu"] {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100%;
    left: 0%;
    right: 0%;
    background: #ffffff;
    border-top: 1px solid #ebe5e5;
    border-left: 1px solid #ebe5e5;
    border-right: 1px solid #ebe5e5;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    height: 0vh;
    transition: height 0.5s ease, opacity 0.2s ease;
    z-index: -100;
    opacity: 0;
    max-width: 86%;
    margin: auto;
    padding: 1rem;
}

ul[role="menu"].menu-visible {
    height: 88vh;
    transition: height 0.5s ease, opacity 0.2s ease;
    opacity: 1;
}

ul[role="menu"][data-menu-level="3"] {
    left: 0%;
    top: 0;
    bottom: auto;
    border: none;

}

ul[role="menu"][data-menu-level="3"].menu-visible {
    left: 0%;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

button {
    background: #fffcfc;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

a:hover {
    background: #fffcfc;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}